<head>
    {% if page.title %}
        <title>{{page.title}} | Abkt Official</title>
    {% else %}
        <title>Abkt Official</title>
    {% endif %}
    {% if page.description %}
        <meta name="description" content="{{page.descripotion}}">
    {% else %}
        <meta name="description" content="This is Abrakatabrain official site.">
    {% endif %}
    <meta charset="utf-8">
    <link href="/img/favicon.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/fonts/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&
      family=Raleway:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>